:root {
  --primary-color: #0474ff;
  --primary-light-color: #f3f9fe;
  --secondary-color: #9bb1c8;
  --secondary-light-color: #dee7ed;
  --secondary-dark-color: #17487c;
  --danger-color: #ff5d5c;

  --border-color: #e6edf5;
  --shadow-color: rgba(149, 157, 165, 0.1);

  --main-bg-color: #eff4f9;
  --aside-bg-color: #ffffff;
  --header-bg-color: #ffffff;
  --cart-bg-color: #ffffff;
  --card-bg-color: #ffffff;

  --text-color: #335d8b;
  --text-light-color: #849cb4;
  --text-white-color: #fff;
}

$aside-width: 64px;
$header-height: 64px;
$cart-width: 350px;
